data/test.txt
data/TSMIP_1999_2019_Vs30_integral.hdf5
data/TSMIP_1999_2019_Vs30.hdf5
predict
modelloss


model/*
!model/*.py

model_train_predict/mlruns

/__pycache__
.vscode

#waveform and catalog
data/*
!data/*.py


#mlflow
/mlruns

